@media only screen and (max-width: 950px) {
  .top {
    flex-direction: column;
  }

  .card {
    height: 120vh;
  }

  .list {
    flex-direction: row;
  }

  .listItem {
    font-size: 0.3rem;
    border: none;
  }

  .listContainer {
    top: unset;
    bottom: 0px;
    height: unset;
  }.

  .listTitle {
    display: none;
  }

  .weaterItem {
    font-size: 0.3rem;
  }
}
