* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(90deg, lightsalmon, lightcoral);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: wheat;
  border-radius: 5px;
  padding: 20px;
  gap: 5%;
  justify-content: center;
  text-align: center;
  color: rgb(17, 17, 17);
  box-shadow: 0px 0px 10px 5px sandybrown;
  width: 95%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5% 5%;
}

.list {
  list-style: none;
  border-radius: 5%;
  background-color: rgb(194, 225, 203);
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.listTitle {
  font-size: 2rem;
}

.listContainer {
  display: flex;
  justify-content: center;
}

.listItem {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.listItem:hover {
  color: lightslategray;
  cursor: pointer;
}

.active {
  font-size: 1.5rem;
  color: rgb(179, 8, 74);
}
